---
import ScrollText from "../components/ScrollText";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Client.">
  <main class="container mx-auto">
    <h1>Welcome to <span class="text-gradient">Client</span></h1>
    <ScrollText client:visible text="ahihi" />
  </main>
</Layout>
