---
import CommingSoon from "../components/CommingSoon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our team.">
	<main class="container mx-auto">
		<CommingSoon />
	</main>
</Layout>
