---
import Layout from "../layouts/Layout.astro";

const TEAM = [{
}]
---

<Layout title="Our team.">
  <main class="container mx-auto min-h-screen">
    <div class="pt-28">
      <h1 class="text-center mb-14">Founding Team</h1>

		</div>
	</main>
</Layout>
