---
import CommingSoon from "../components/CommingSoon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our story.">
  <main class="container mx-auto">
    <CommingSoon />
  </main>
</Layout>
