---
import { Image } from 'astro:assets';
import comingSoon from '../assets/coming-soon.webp';
---

<div class="h-screen flex justify-center items-center text-3xl">
  <Image
    src={comingSoon}
    alt="Coming Soon"
    width="400"
    height="400"
  />
</div>
