---
const LINKS = [
  {
    label: "Our Story",
    url: "/our-story",
  },
  // {
  //   label: "Team",
  //   url: "/our-team",
  // },
  // {
  //   label: "FAQs",
  //   url: "/faqs",
  // },
  // {
  //   label: "Contact Us",
  //   url: "/contact-us",
  // },
  {
    label: "Client",
    url: "/client",
  },
];
---

<footer class="bg-white">
  <div class="container mx-auto">
    <div class="flex md:justify-center justify-evenly items-center">
      {LINKS.map((item) => <a class="md:py-6 md:px-10 py-3 text-gray-400" href={item.url}>{item.label}</a>)}
    </div>
    <div class="text-center">
      <p>© 2023 Hiring buddy</p>
    </div>
  </div>
</footer>
