<header class="bg-white shadow-md">
  <div class="container mx-auto">
    <div class="flex">
      <div class="mr-2 p-3">
        <a href="/" title="Hiring Buddy">HiringBuddy</a>
      </div>

      <nav class="inline-flex">
        <a class="inline-flex justify-center items-center mr-2" href="/our-story">Our Story</a>
        <a class="inline-flex justify-center items-center mr-2" href="/our-team">Team</a>
        <a class="inline-flex justify-center items-center mr-2" href="/client">Client</a>
      </nav>
    </div>
  </div>
</header>
