---
import { Image } from "astro:assets";
import heroImage from "../assets/hero-image.png";
---

<div class="flex justify-center overflow-hidden">
  <div class="md:w-1/2 md:-mb-48 relative md:right-0 -right-6 md:min-h-[400px] lg:min-h-[600px]">
    <div
      style=`transform: translate(-50%, -50%)`
      class="w-[120%] h-[120%] z-10 absolute top-1/2 left-1/2 bg-no-repeat bg-contain hidden"
      id="video-hero-bg"
    >
      <Image
        src={heroImage}
        alt="Hero Image"
        layout="fill"
        objectFit="contain"
        priority
        class={"w-full"}
      />
    </div>
    <video
      id="video-hero"
      src="/videos/desktop-screen-1.mp4"
      autoplay
      playsinline
      muted
      width="100%"
      class="lg:rounded-2xl md:rounded-[12px] rounded-[10px] overflow-hidden z-10 relative"></video>
  </div>
</div>

<script>
  const videoHero = document.getElementById("video-hero");

  if (videoHero) {
    videoHero.addEventListener("loadeddata", () => {
      const videoHeroBg = document.getElementById("video-hero-bg");
      videoHeroBg?.classList.remove("hidden");
    });
  }
</script>
