/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply font-poppins font-bold leading-tight text-5xl;

  @screen lg {
    font-size: 4.75rem;
  }
}

h2 {
  @apply font-poppins font-bold text-6xl;
}

h4 {
  @apply font-sans text-lg;
}

/* animation fade in up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.how-it-works-fadeInUp {
  animation-duration: 1.5s;
  animation-name: fadeInUp;
}